* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/** HEADER **/
h2, h4 {
    margin-top: 5px;
}

a {
    color: black;
}

.navbar {
    border: 4px solid black;
}

.bg-dark {
    background-color: #7f7f7f!important;
}

.navbar-dark .navbar-brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: 2em;
}

/** BODY **/
.box {
    width: 100px
}
.container-fluid h2 {
    text-align: center;
    color: black;
}
.container-fluid .row h4 {
    text-align: center;
    color: black;
}

.container-fluid .row p {
    padding: 0px 17px 0px 17px;
    color: black;
}

.container-fluid .row .section {
    background-color: #7f7f7f;
    border: 2px solid black;
    margin-bottom: 5px;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}